* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --lightblue: #E0ECFF;
    --blue: #3485FF;
    --background: #FBFCFF;
    --overlay: #040911;
    --icon-details: #A5B0C1;

    --gre-dark: #4D5E77;
    --gre-blue: #A1B2CD;
    --gre-light: #E5EAF1;

}